* {
    box-sizing: border-box;
}

body {
    font-family: Arial, 'sans-serif'
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

article {
    text-align: center;
}

.tag-label {
    border: 0.5px solid;
    margin: 0 4px;
    padding: 0 4px;
}

#post-controls-container {
    margin-bottom: 20px;
}

.edit-post, .delete-post {
    background-color: ButtonFace;
    border: 1px solid;
    border-radius: 4px;
    padding: 10px 15px;
}

.edit-post:hover, .delete-post:hover,
.edit-comment:hover, .delete-comment:hover {
    background-color: ButtonHighlight;
}

#comment-form {
    width: 50%;
    border: 1px solid;
    padding: 10px;
}

#comment-form > input[type="text"], #comment-form > textarea {
    width: 75%;
    margin: 5px auto;
    padding: 2px;
}

.comment-container {
    width: 40%;
    border: 1px solid;
    padding: 10px;
    margin: 10px 0;
}

.comment-name, .comment-email, .comment-time {
    margin: 0;
}

.edit-comment, .delete-comment {
    background-color: ButtonFace;
    border: 1px solid;
    margin-right: 5px;
}