<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login Page</title>
    <style>
        .failed {
            color: red;
        }
    </style>
</head>
<body>
    <h1>Login</h1>
    <form action="#" th:action="@{/blog-application/authenticateUser}" method="POST">
        <div th:if="${param.error}">
            <i class="failed">Sorry! You entered invalid email/password.</i>
        </div>

        <input type="text" name="username" placeholder="Email" />

        <input type="password" name="password" placeholder="Password" />

        <input type="submit" value="Submit" />
    </form>
    <div>
        <p>Doesn't have account? <a th:href="@{/blog-application/register}">Create one</a></p>
    </div>
</body>
</html>