<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" th:href="@{/css/post-full-view.css}" />
  <title th:text="${post.title}" />
</head>
<body>
<header>
  <div id="authentication-details">
    <p sec:authorize="isAuthenticated()"><strong sec:authentication="principal.username" /></p>
    <form sec:authorize="isAuthenticated()" action="#" th:action="@{/logout}" method="POST">
      <button id="logout-button" type="submit">Logout</button>
    </form>
    <a sec:authorize="${!isAuthenticated()}" id="login-button" th:href="@{/blog-application/login}">Login</a>
  </div>
  <a th:href="@{/blog-application/}"><h2>My Blog Application</h2></a>
</header>

<main>
  <article>
    <h1 th:text="${post.title}" />
    <p th:text="${post.author} + ', ' + ${post.publishedAt.toLocalDate()}" />
    <span th:each="tag : ${post.tags}" th:text="${tag.getName}" class="tag-label" />
    <p th:text="${post.content}" />
  </article>

  <div th:if="${canModifyPost}" class="post-modifications">
    <form action="#" th:action="@{/blog-application/editpost}" method="POST">
      <input type="hidden" name="id" th:value="${post.id}"/>
      <button class="edit-post-button" type="submit">Edit</button>
    </form>
    <form action="#" th:action="@{/blog-application/deletepost}" method="POST">
      <input type="hidden" name="id" th:value="${post.id}"/>
      <button class="delete-post-button" type="submit">Delete</button>
    </form>
  </div>
  <hr>
  <h4>Comments</h4>
  <form action="#" th:action="@{/blog-application/savecomment}" th:object="${commentObj}" method="POST"
        id="comment-form">
    <div sec:authorize="hasRole('AUTHOR')">
      <input type="text" th:value="*{name}" disabled />
      <input type="hidden" th:field="*{name}" />
      <input type="text" th:value="*{email}" disabled /><br>
      <input type="hidden" th:field="*{email}" />
    </div>
    <div th:if="${not #authorization.expression('hasRole(''AUTHOR'')')}">
      <input type="text" th:field="*{name}" placeholder="Name" required />
      <input type="text" th:field="*{email}" placeholder="Email" required /><br>
    </div>
    <textarea th:field="*{comment}" placeholder="Comment" required/><br>
    <input type="hidden" th:field="*{id}" />
    <input type="hidden" name="postId" th:value="${post.id}" />
    <button type="submit">Add Comment</button>
  </form>

  <div th:each="comment : ${post.comments}" class="comments-list">
    <div class="comment-container">
      <h4 class="comment-name" th:text="${comment.name}" />
      <p class="comment-email" th:text="${comment.email}" />
      <p class="comment-time"><i th:text="${comment.createdAt}" /></p>
      <p th:text="${comment.comment}" />
      <div th:if="${canModifyPost}" class="comment-modifications">
        <form action="#" th:action="@{/blog-application/editcomment}" method="POST">
          <input type="hidden" name="id" th:value="${comment.id}" />
          <input type="hidden" name="postId" th:value="${post.id}" />
          <button class="edit-comment-button" type="submit">Edit</button>
        </form>
        <form action="#" th:action="@{/blog-application/deletecomment}" method="POST">
          <input type="hidden" name="id" th:value="${comment.id}" />
          <input type="hidden" name="postId" th:value="${post.id}" />
          <button class="delete-comment-button" type="submit">Delete</button>
        </form>
      </div>
    </div>
  </div>
</main>
</body>
</html>