<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/post-form.css}" />
    <title>Save Post</title>
</head>
<body>
<main>
    <h1>New/Edit Post</h1>
    <form action="#" th:action="@{/blog-application/savepost}" th:object="${post}" method="POST">
        <input type="text" th:field="*{title}" placeholder="Title">
        <input type="text" th:field="*{author}" placeholder="Author">
        <input type="text" placeholder="Tags" name="postTags" th:value="${post.getTagsAsCommaSeparatedString()}"/>
        <textarea type="text" th:field="*{content}" placeholder="Content" />
        <input type="hidden" th:field="*{id}" />
        <button type="submit">Publish</button>
    </form>
</main>
</body>
</html>