<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" th:href="@{/css/post-full-view.css}" />
  <title th:text="${post.title}" />
</head>
<body>
<header>
  <a th:href="@{/blog-application/}"><h2>My Blog Application</h2></a>
</header>

<main>
  <article>
    <h1 th:text="${post.title}" />
    <p th:text="${post.author} + ', ' + ${post.createdAt.toLocalDate}" />
    <span th:each="tag : ${post.tags}" th:text="${tag.getName}" class="tag-label" />
    <p th:text="${post.content}" />
  </article>

  <div id="post-controls-container">
    <a class="edit-post" th:href="@{/blog-application/editpost(id=${post.id})}">Edit post</a>
    <a class="delete-post" th:href="@{/blog-application/deletepost(id=${post.id})}">Delete post</a>
  </div>

  <hr>

  <h4>Comments</h4>
  <form action="#" th:action="@{/blog-application/savecomment}" th:object="${commentObj}" method="POST"
        id="comment-form">
    <input type="text" th:field="*{name}" placeholder="Name" required/>
    <input type="text" th:field="*{email}" placeholder="Email" required/><br>
    <textarea th:field="*{comment}" placeholder="Comment" required/><br>
    <input type="hidden" th:field="*{id}" />
    <input type="hidden" name="postId" th:value="${post.id}" />
    <button type="submit">Add Comment</button>
  </form>

  <div th:each="comment : ${post.comments}" class="comments-list">
    <div class="comment-container">
      <h4 class="comment-name" th:text="${comment.name}" />
      <p class="comment-email" th:text="${comment.email}" />
      <p class="comment-time"><i th:text="${comment.createdAt}" /></p>
      <p th:text="${comment.comment}" />
      <a class="edit-comment"
         th:href="@{/blog-application/editcomment(id=${comment.id}, postId=${post.id})}">
        Edit
      </a>
      <a class="delete-comment"
         th:href="@{/blog-application/deletecomment(id=${comment.id}, postId=${post.id})}">
        Delete
      </a>
    </div>
  </div>
</main>
</body>
</html>