<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>All Blogposts</title>
</head>
<body>
<header>
    <h1>My Blog Application</h1>
    <form>
        <input type="text" name="search" th:value="${search}" required />
        <input th:each="author : ${authorName}" type="hidden" name="authorName" th:value="${author}" />
        <input th:each="tag : ${tagName}" type="hidden" name="tagName" th:value="${tag}" />
        <button type="submit">Search</button>
    </form>
    <form>
        <select name="order" required>
            <option value="">-- Sort By --</option>
            <option value="asc">Published - Oldest First</option>
            <option value="desc">Published - Newest First</option>
        </select>
        <button type="submit">Sort</button>
    </form>
    <form>
        <fieldset>
            <label th:each="author : ${allDistinctAuthors}">
                <input type="checkbox" name="authorName" th:value="${author}"
                       th:checked="${authorName != null && authorName.indexOf(author) != -1}"/>
                [[${author}]]
            </label>
        </fieldset>
        <fieldset>
            <label th:each="tag : ${allDistinctTags}">
                <input type="checkbox" name="tagName" th:value="${tag}"
                       th:checked="${tagName != null && tagName.indexOf(tag) != -1}"/>
                [[${tag}]]
            </label>
        </fieldset>
        <input type="hidden" name="search" th:value="${search}" />
        <button type="submit">Filter</button>
    </form>
</header>
<main>
    <a th:href="@{/blog-application/newpost}">New post</a>

    <div th:each="post : ${posts}" class="posts-list">
        <a th:href="@{/blog-application/showpost(id=${post.id})}">
            <article class="post-container" style="border: 1px solid">
                <h3 th:text="${post.title}" />
                <p th:text="${post.author} + ', ' + ${post.createdAt}" />
                <p th:text="${post.excerpt}" />
                <span th:each="tag : ${post.tags}" th:text="${tag.name}" style="border: 1px solid" />
            </article>
        </a>
    </div>
</main>
<footer>
    <a th:if="${currentPage > 1}"
       th:href="@{/blog-application/(start=${(currentPage-2)*postsPerPage+1},
                                     limit=${postsPerPage},
                                     sortField=${sortField},
                                     order=${sortOrder},
                                     search=${search},
                                     authorName=${authorName},
                                     tagName=${tagName}
                                    )}">
        Previous
    </a>
    <a th:if="${currentPage < totalPages}"
       th:href="@{/blog-application/(start=${(currentPage)*postsPerPage+1},
                                     limit=${postsPerPage},
                                     sortField=${sortField},
                                     order=${sortOrder},
                                     search=${search},
                                     authorName=${authorName},
                                     tagName=${tagName}
                                    )}">
        Next
    </a>
</footer>
</body>
</html>