<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title th:text="${post.title}" />
</head>
<body>
<header>
  <h3>My Blog Application</h3>
</header>
<main>
  <article>
    <h1 th:text="${post.title}" />
    <p th:text="${post.author} + ', ' + ${post.createdAt.toLocalDate()}" />
    <p th:text="${post.content}" />
  </article>
  <a th:href="@{/blog-application/editpost(id=${post.id})}">Edit post</a>
  <a th:href="@{/blog-application/deletepost(id=${post.id})}">Delete post</a>
  <br>
  <a th:href="@{/blog-application/newcomment(postId=${post.id})}">Add Comment</a>
  <div th:each="comment : ${comments}" class="comments-list">
    <div class="comment-container" style="border: 1px solid">
      <h3 th:text="${comment.name}" />
      <p th:text="${comment.email}" />
      <p th:text="${comment.comment}" />
      <a th:href="@{/blog-application/editcomment(id=${comment.id})}">
        Update
      </a>
      <a th:href="@{/blog-application/deletecomment(id=${comment.id}, postId=${post.id})}">
        Delete
      </a>
    </div>
  </div>
</main>
</body>
</html>